*{
    font-family: Avenir, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}

body{
    background: #ededed;
}
p{
    font-size: 1em;
    line-height: 1.5em;
}
a{
    text-decoration: none;
    color: #000;
}

header, footer{
    width: 100%;
    padding: 20px 0px;
    background-color: rgb(255, 255, 241);
    box-shadow: 0px 0px 15px #333;
}
header{
    border-bottom: 2px solid #fff;
    height: 130px;
}
header h1{
    color:#274A71;
    font-size: 40px;
    width: 90%;
    margin: 0 auto;
    text-align: center;  
}

#menu {
    height:taille_fixe px;
width:100%;

}
 
#menu_gauche{
width:50%;
height:100%;
float:left;
background-color: #274A71;
}
 
#menu_droite{
width:50%;
height:100%;
float: right;
background-color: #274A71;

}

.menu{
    text-align: center;
    color: rgb(255, 255, 241);
}
.menu a{
    color:rgb(255, 255, 241);
}
footer{
    border-top: 2px solid #fff;
}
footer h1{
    width: 90%;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    text-align: center;
}
footer a{
    color: #fff;
}

section{
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #bbb;
    background-color: #fff;
}

section h2{
    margin: 20px 0;
    width: 90%;
}
section > div{
    width: 90%;
}

.photo{
    text-align: center;
}
.photo img{
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    margin-top: -80px;
}
.presentation{
    border-bottom: 2px dashed #ccc;
}
.presentation a{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px auto 30px auto;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 241);
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px; 
}


.contact-a{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.contact-a p:first-child{
    flex: 0 0 40%;
}
.contact-a p:last-child{
    flex: 0 0 60%;
}
.social{
    display: flex;
    justify-content: space-around;
    margin: 10px auto 0px auto;
}
.social img{
    width: 40px;
    height: 40px;
}

.experience{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.exp-info{
    display: flex;
    flex-flow: column wrap;
}
.experience-logo{
    flex: 0 0 25%;
    max-width: 100px;
}
.exp-info{
    flex: 0 0 70%;
    margin-left: auto;
}
.experience img{
    width: 100%;
}
.experience h3{
    font-size:  1.2em;
}
.experience h4{
    font-size:  1em;
    font-weight: normal;
}

/*competences et langue*/
.comp{
    display:flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}
.comp p{
    flex: 0 0 40%;
}
.conteneur-barre{
    flex: 0 0 60%;
    border-radius: 5px;
    background-color: grey;
    border-bottom: 1px ridge grey;
}
.barre{
    display: block;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.c60{
    width: 60%;
    background-color: #274A71;
}
.c80{
    width: 80%;
    background-color: #274A71;
}
.c90{
    width: 90%;
    background-color: #274A71;
}


/*Page actu*/



/*VERSION BUREAU DU CV*/
@media screen and (min-width: 980px){
    section{
        width: 80%;
        box-shadow: 0px 0px 10px #bbb;
    }
    a:hover{
        color: #EA0;
    }
    header h1{
        width: 80%;
    }
    .presentation, .contact{
        flex: 0 0 45%;
    }
    .presentation{
        border-bottom: none;
        border-right: 2px solid #ccc;
        padding-right: 20px;
        margin-left: auto;
    }
    .contact{
        padding-left: 20px;
        margin-right: auto;
    }
    .presentation a{
        border: 2px solid transparent;
    }
    .presentation a:hover{
        color: #f28835;
        background-color: #fff;
        border: 2px solid #f28835;
        box-shadow: 0px 0px 20px #666;
    }
    .experience-logo{
        flex: 0 0 10%;
    }
    .exp-info, .exp-desc{
        flex: 0 0 85%;
        margin-left: auto;
    }
    .interet{
        flex: 0 1 25%;
    }
}



